:root {
  --color-primary-light: #d0d7bb;
  --color-primary-dark: #aab38d;
  --color-secondary-light: #a48e9f;
  --color-secondary-dark: #896c82;
  --color-accent-1: #f8f8f8;
  --color-accent-2: #f6f7f3;
  --color-grey-light: #aaa;
  --color-grey-dark: #555;
  --color-header-text: #fff;
  --color-tertiary-dark: #af8a91;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Cormorant Garamond", Helvetica;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 40%;
  }
}

*::selection {
  background-color: var(--color-grey-light);
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark);
  padding: 3rem;
}

.container {
  display: grid;
  /* First analyze overall layout and
    how many sections there are (5)
    and size the rows first thinking about responsivness
    and how the rows & content need to flow when resized
    */
  grid-template-rows: 85vh repeat(4, min-content);
  /* Second we define our column tracks (common sizes
    are 8, 12 or 16 column grids) Trento will use 8.
    Start by putting all at 1fr to get a feel for the
    columns. In this case we will want max width say 1140px.
    Split them up into rem. 1140/8 = 142... approx 14rem.
    Then use minmax to allow them to grow from content up
    to the 14rem. Using the 1fr on each side of the inner 6
    columns will allow for full bleed in some sections.
    Always name the columns. The col start & col end will create
    create 6 colstarts & ends from number 1 to 6
    */
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 9.5rem) [col-end]
    ) [center-end] minmax(4rem, 1fr) [full-end];
}

.heading-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  margin-top: 3rem;
  color: var(--color-header-text);
  letter-spacing: 1px;
}

.heading-2 {
  text-transform: uppercase;
  color: var(--color-header-text);
  font-size: 3.5rem;
  font-weight: 100;
}

.heading-3 {
  color: var(--color-header-text);
  font-size: 2rem;
  font-weight: 200;
}

.heading-4 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  font-style: italic;
  font-family: var(--font-secondary);
}

.heading-fancy {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
}
.heading-fancy--features {
  position: absolute;
  top: -5rem;
  left: -5rem;
}
@media only screen and (max-width: 31.25em) {
  .heading-fancy--features {
    left: 3rem;
  }
}
.heading-fancy--stories {
  position: absolute;
  top: -5rem;
  left: -6rem;
}
@media only screen and (max-width: 31.25em) {
  .heading-fancy--stories {
    top: -6rem;
    left: 3rem;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  width: 15rem;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
}
.btn__contact:link,
.btn__contact:visited {
  color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
}
.btn__contact:hover {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-light);
  color: var(--color-accent-2);
  box-shadow: 2px 2px 2px #777;
  transform: translateY(-3px);
}
.btn__contact:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px #999;
}
.btn__view-all:link,
.btn__view-all:visited {
  color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-dark);
}
.btn__view-all:hover {
  background-color: var(--color-grey-dark);
  color: #fff;
  border: 1px solid var(--color-grey-dark);
  transform: translateY(-3px);
  box-shadow: 2px 2px 2px #777;
}
.btn__view-all:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px #999;
}

.view-all-box {
  justify-self: center;
  margin-top: 1.5rem;
  grid-row: 13 / 14;
  grid-column: 4 / 6;
}

.modal__outer {
  display: grid;
  background: rgba(170, 179, 141, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.modal__outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal__inner {
  display: grid;
  width: 60vw;
  height: 60vh;
  background: var(--color-accent-1);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
}
.modal__inner .img-wrapper {
  position: relative;
}
.modal__inner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.modal__inner .img-p {
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
  background: var(--color-accent-2);
  transition: all 0.2s;
  position: fixed;
  bottom: 15vh;
  left: calc(50vw);
  transform: translateX(-50%);
}
.modal__inner p.close-modal {
  position: absolute;
  top: 1rem;
  right: 3rem;
  background: rgba(85, 85, 85, 0);
  color: #eee;
  font-size: 5rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  line-height: normal;
}
.modal__inner p.close-modal:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0.95);
}

.contact {
  grid-column: col-start 2 / col-end 11;
  margin: 6rem 0;
  padding: 10rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 6rem;
  align-items: center;
  justify-items: center;
}
.contact__box {
  text-align: center;
}
.contact__box--2 p {
  border-right: 1px solid var(--color-grey-light);
  border-left: 1px solid var(--color-grey-light);
  padding: 0 3rem;
}

.dream {
  background-color: var(--color-primary-light);
  padding: 0.5rem;
  display: inline-flex;
  margin: 0.5rem;
}

.features {
  background-color: var(--color-accent-1);
  grid-column: col-start 2 / full-end;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  padding: 3rem;
  justify-content: center;
}
@media only screen and (max-width: 31.25em) {
  .features {
    grid-column: full-start / full-end;
  }
}
.features__list {
  display: grid;
  margin-top: 3rem;
  margin-left: 6rem;
  font-size: 3rem;
}
@media only screen and (max-width: 31.25em) {
  .features__list {
    margin-left: 0;
  }
}
.features__heading {
  font-weight: 200;
  position: relative;
  justify-self: end;
}
.features__heading--1 {
  font-weight: 300;
}
.features__heading:hover {
  font-weight: 300;
  cursor: pointer;
}
.features__li {
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  justify-items: start;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .features__li {
    grid-template-columns: minmax(5rem, 1fr);
    justify-self: center;
  }
}
.features__heading--1 + p {
  visibility: visible;
  width: 70%;
}
@media only screen and (max-width: 31.25em) {
  .features__heading--1 + p {
    display: none;
  }
}
.features__heading:hover + p {
  visibility: visible;
  width: 70%;
}
@media only screen and (max-width: 31.25em) {
  .features__heading:hover + p {
    display: none;
  }
}
@media only screen and (max-width: 31.25em) {
  .features__heading ~ .features__li--number {
    display: none;
  }
}
.features__heading--1 ~ .features__li--number {
  font-weight: 400;
  font-size: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .features__heading--1 ~ .features__li--number {
    display: none;
  }
}
.features__heading:hover ~ .features__li--number {
  font-weight: 400;
  font-size: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .features__heading:hover ~ .features__li--number {
    display: none;
  }
}
.features__divide {
  visibility: hidden;
  border-bottom: 1px solid var(--color-grey-light);
  width: 0;
  transition: all 0.2s;
  margin-top: -2.5rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 31.25em) {
  .features__divide {
    display: none;
  }
}
.features__li
  .features__heading--1:hover
  ~ .features__photo-box.features__photo--1 {
  display: none;
}
.features__photo-box {
  min-height: 50rem;
  display: grid;
}
.features__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.features__photo--1 {
  display: block;
}

.footer {
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-light),
    var(--color-grey-dark)
  );
  grid-column: full-start / full-end;
  padding: 3rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 2rem;
}
.nav__item {
  justify-self: center;
  background-color: rgba(211, 211, 211, 0.075);
  padding: 0.5rem 2.5rem;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  display: block;
  transition: all 0.2s;
  width: 0%;
  border-bottom: 1px solid transparent;
}
.nav__link:link,
.nav__link:visited {
  color: #fff;
  cursor: pointer;
}
.nav__link:hover,
.nav__link:active {
  border-bottom: 1px solid var(--color-primary-dark);
  width: 100%;
  transform: translateY(-1px);
}

p.copyright {
  font-family: var(--font-primary);
  font-style: normal;
  color: var(--color-accent-1);
  font-size: 1.4rem;
  width: 70%;
  text-align: center;
  margin: 3rem auto 0 auto;
}

.header {
  background-image: url(../img/hero-min.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  padding-top: 1.5rem;
  grid-column: full-start / full-end;
}

.flex-nav {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0 auto;
  position: relative;
}

.fixed-nav .flex-nav {
  position: fixed;
  background-image: linear-gradient(
    rgba(170, 170, 170, 0.85),
    rgba(170, 170, 170, 0.85)
  );
  top: 0;
  box-shadow: 0 2px 2px rgba(85, 85, 85, 0.2);
  z-index: 5;
  min-width: 100vw;
  left: 0;
}

.fixed-nav .header-nav {
  padding-top: 0;
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
}
.header-nav__item {
  color: var(--color-header-text);
  flex: 1 1 12rem;
}
.header-nav__item--name {
  flex: 2;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3px;
}
@media only screen and (max-width: 53.125em) {
  .header-nav__item:not(:nth-last-of-type(4)) {
    display: none;
  }
}
.header-nav__link:visited,
.header-nav__link:link {
  color: var(--color-header-text);
  text-decoration: none;
  transition: all 0.2s;
}
.header-nav__link:hover,
.header-nav__link:active {
  color: var(--color-grey-dark);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  align-items: center;
  padding: 0 3rem;
}
.hero--lrg {
  flex: 1 1 50%;
}
@media only screen and (max-width: 53.125em) {
  .hero--lrg {
    flex: 1 1 80%;
    align-self: flex-end;
  }
}
.hero--sml {
  flex: 1 1 50%;
  align-self: flex-end;
}
@media only screen and (max-width: 53.125em) {
  .hero--sml {
    flex: 1 1 100%;
  }
}

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.menu-bars {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 4;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: var(--color-grey-dark);
  margin: 8px 0;
  transition: 0.4s;
  box-shadow: 1px 1px 2px;
}
@media only screen and (min-width: 53.125em) {
  .bar1,
  .bar2,
  .bar3 {
    display: none;
  }
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-46deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555555bb;
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

.mobnav,
.mobnav__list {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mobnav__list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}
.mobnav__list li {
  flex: 1 1 100%;
}

.mobnav li {
  background-color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-grey-dark);
  overflow: hidden;
  height: 16.66%;
}
.mobnav li a {
  position: relative;
  top: 40%;
  color: var(--color-header-text);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 3rem;
  display: block;
  text-align: center;
}
.mobnav li a:hover {
  transform: scale(1.03);
}
.mobnav li a::before {
  content: "";
  width: 20vw;
  height: 2px;
  background-color: var(--color-header-text);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}
.mobnav li a:hover::before {
  opacity: 1;
}

.stories {
  background-color: var(--color-accent-2);
  grid-column: col-start 1 / full-end;
  margin: 6rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 1.6rem;
  padding: 4rem;
  /*
    Images have their own intrinsic aspect ratio
    and will overflow the cell so we create a figure
    html parent element and set the object-fit property
    on the child img element to cover to fix this. The
    figure element is now the grid item.
    */
}
@media only screen and (max-width: 31.25em) {
  .stories {
    grid-column: full-start / full-end;
  }
}
.stories__item--1 {
  grid-row: 1 / span 5;
  grid-column: 1 / span 2;
}
.stories__item--2 {
  grid-row: 6 / span 4;
  grid-column: 1 / span 2;
}
.stories__item--3 {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}
.stories__item--4 {
  grid-row: 1 / 4;
  grid-column: 5 / 9;
}
.stories__item--5 {
  grid-row: 3 / 6;
  grid-column: 3 / 5;
}
.stories__item--6 {
  grid-row: 4 / 6;
  grid-column: 5 / 9;
}
.stories__item--7 {
  grid-row: 6 / 8;
  grid-column: 3 / 5;
}
.stories__item--8 {
  grid-row: 6 / 8;
  grid-column: 5 / 9;
}
.stories__item--9 {
  grid-row: 8 / 10;
  grid-column: 3 / 9;
}
.stories__item--10 {
  grid-row: 10 / 13;
  grid-column: 4 / 6;
}
.stories__item--11 {
  grid-row: 10 / 13;
  grid-column: 1 / 4;
}
.stories__item--12 {
  grid-row: 10 / 13;
  grid-column: 6 / 9;
}
.stories__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
}
.stories__img:hover {
  transform: scale(1.02);
}

.post {
  display: grid;
  margin: 1.5rem auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.post > * {
  grid-column: 2 / -2;
}
.post > figure {
  margin: 3rem 0;
  grid-column: 1 / -1;
}
.post figure:nth-of-type(2) {
  grid-column: 1 / -3;
}
.post figure:nth-of-type(3) {
  grid-column: 3 / -1;
}
.post > figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post__date {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: rem;
}
.post__title {
  grid-column: 1 / -1;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  background-color: var(--color-primary-light);
  border-radius: 2px;
  filter: opacity(80%);
  padding: 0.5rem;
  text-align: center;
}
.post__heading {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center;
  background-color: var(--color-secondary-light);
  color: var(--color-accent-1);
  grid-column: 2 / -2;
}
.post__p {
  font-size: 2.5rem;
  text-indent: 3rem;
}
.post__ital {
  font-style: italic;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__heading {
  width: 85vw;
  font-size: 2rem;
  margin: 3rem 6rem 6rem;
  padding: 1rem;
  background-color: var(--color-primary-light);
  border-radius: 2px;
  filter: opacity(80%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.gallery__container {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__container img {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  filter: grayscale(25%);
}

img:hover {
  filter: grayscale(0%);
}

figcaption {
  text-align: center;
  margin: 0.75rem 0 6rem 0;
  padding: 0.75rem 10vw;
  font-size: 2rem;
  background: var(--color-primary-light);
  border-radius: 2px;
}

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.galmenu-bars {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 4;
  display: inline;
  cursor: pointer;
}

.galbar1,
.galbar2,
.galbar3 {
  width: 35px;
  height: 3px;
  background-color: var(--color-grey-dark);
  margin: 8px 0;
  transition: 0.4s;
  box-shadow: 1px 1px 2px;
}

/* Rotate first bar */
.change .galbar1 {
  transform: rotate(-46deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .galbar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .galbar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555555bb;
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

.galmobnav,
.galmobnav__list {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.galmobnav__list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}
.galmobnav__list li {
  flex: 1 1 100%;
}

.galmobnav li {
  background-color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-grey-dark);
  overflow: hidden;
  height: 16.66%;
}
.galmobnav li a {
  position: relative;
  top: 40%;
  color: var(--color-header-text);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 3rem;
  display: block;
  text-align: center;
}
.galmobnav li a:hover {
  transform: scale(1.03);
}
.galmobnav li a::before {
  content: "";
  width: 20vw;
  height: 2px;
  background-color: var(--color-header-text);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}
.galmobnav li a:hover::before {
  opacity: 1;
}

.hidden {
  display: none;
}

.form {
  margin: 6rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../../img/form2.jpg);
  background-position: bottom;
}
.form__heading {
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  padding: 0.75rem 9rem;
  background-color: var(--color-primary-light);
  border-radius: 2px;
  filter: opacity(80%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.form__groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.form-group {
  height: 30%;
}

.form-group2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group2__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-grey-dark);
}
.form-group2 textarea {
  border: 3px solid transparent;
  transition: all 0.2s;
  border-radius: 2px;
  color: var(--color-grey-dark);
}
.form-group2 textarea:focus {
  outline: none;
  border: 3px solid var(--color-primary-dark);
  box-shadow: 0 3px 1rem var(--color-grey-dark);
}

input {
  font-size: 2rem;
  font-family: var(--font-primary);
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  color: var(--color-grey-dark);
  transition: all 0.2s;
}
input:focus {
  outline: none;
  box-shadow: 0 3px 1rem var(--color-grey-dark);
  border-bottom: 3px solid var(--color-primary-dark);
}
input:invalid {
  border-bottom: 3px solid var(--color-tertiary-dark);
}
input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

label {
  padding: 0.5rem;
  background-color: var(--color-primary-light);
  border-radius: 2px;
  filter: opacity(90%);
  font-size: 2rem;
  display: block;
  margin-top: 1rem;
  width: 70%;
  transition: all 0.3s;
}

.radio-group {
  width: 49%;
  display: inline-block;
  position: relative;
}
.radio-group__btn {
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--color-grey-dark);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2rem;
}
.radio-group__btn::after {
  content: "";
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-light);
  opacity: 0;
  transition: opacity 0.2s;
}
.radio-group > label {
  cursor: pointer;
  padding-left: 5rem;
  background-color: transparent;
}
.radio-group > input:checked + label > span::after {
  opacity: 1;
}
.radio-group input {
  display: none;
}

.form-group-shoot label {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.btn-container {
  width: 90vw;
}

.btn__submit {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  width: 15vw;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--color-accent-1);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  border-radius: 2px;
  margin: 3rem auto 1rem;
}

.btn__submit:hover {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
  box-shadow: 2px 2px 5px #777;
  transform: translateY(-3px);
  color: var(--color-accent-1);
}

.btn__submit:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px #999;
  outline: none;
}

.error__message {
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 0 3rem;
  background-color: var(--color-primary-light);
  border-radius: 2px;
  filter: opacity(80%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid transparent;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  margin-top: 6rem;
}
.about-title__copy {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  margin: 0 1.5rem;
  padding: 0.5rem 30vw;
  letter-spacing: 2px;
}

.about-photo {
  height: 600px;
  background: url(/img/about-title.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}

.cards {
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  transition: all 1s;
  opacity: 1;
}
.cards__card {
  flex: 30rem 0 1;
  height: 60rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  grid-template-rows: 1fr 6fr;
  background-color: var(--color-accent-1);
}
.cards__card--title {
  grid-column: 1 / 2;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: Cormorant Garamond, sans-serif;
  color: var(--color-primary-dark);
  margin-left: 1rem;
  background-image: linear-gradient(
    to top,
    var(--color-secondary-dark),
    var(--color-grey-light)
  );
  -webkit-background-clip: text;
  color: transparent;
}
.cards__card--logo {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 2rem;
  margin-top: 2rem;
}
.cards__card--copy {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
  font-size: 2rem;
}

.fas,
.far {
  font-size: 4rem;
  color: var(--color-secondary-light);
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  transition: all 2s;
  opacity: 1;
}
.team__member {
  height: 30rem;
  padding: 1.5rem;
  margin: 3rem 1.5rem;
  background-color: var(--color-accent-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 8px #bbb;
}
.team__member img {
  width: 100%;
  border-radius: 2px;
}
.team__member--name {
  margin-top: auto;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Cormorant Garamond, sans-serif;
  margin-left: 1rem;
  background-image: linear-gradient(
    to top,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  -webkit-background-clip: text;
  color: transparent;
}
.team__member--job {
  font-size: 1.5rem;
  font-family: Cormorant Garamond, sans-serif;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8px);
}

.workshop-photo {
  height: 600px;
  background: url(../img/workshop.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.ws-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ws-form .date {
  padding: 6rem;
  width: 50vw;
  font-family: Cormorant Garamond, sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  background: var(--color-accent-1);
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.ws-form .time {
  padding: 3rem;
  width: 50vw;
  font-family: Cormorant Garamond, sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  background: var(--color-accent-1);
  margin-bottom: 3rem;
  cursor: pointer;
}
.ws-form button {
  margin-bottom: 1rem;
  color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
  cursor: pointer;
  background: #fff;
}

.workshop-copy {
  text-align: center;
  margin-bottom: 6rem;
}
