

:root {

    // Colors
    --color-primary-light:  #d0d7bb;
    --color-primary-dark: #aab38d;
    
    --color-secondary-light: #A48E9F;
    --color-secondary-dark: #896C82;

    --color-accent-1: #f8f8f8;
    --color-accent-2: #F6F7F3;

    --color-grey-light: #aaa;
    --color-grey-dark: #555;

    --color-header-text: #FFF;

    --color-tertiary-dark: #AF8A91;

    // Fonts
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Cormorant Garamond', Helvetica;

    
}

// Breakpoints (Can't be used as custom properties in media queries)
$bp-largest: 75em; // 1200px/16 = 75em
$bp-large: 62.5em; // 1000px/16 = 62.5em
$bp-med: 53.125em; // 850px/16 = 53.125em
$bp-sml: 31.25em; // 500px/16 = 31.25em
