// Color variable



$color-primary-light: #D0D7BB;
$color-primary-dark: #aab38d;

$color-secondary-light: #A48E9F;
$color-secondary-dark: #896C82;


$color-accent-1: #F8F8F8;
$color-accent-2: #F6F7F3;

$color-grey-light: #aaa;
$color-grey-dark: #555;

$color-header-text: #FFF;



// Font variables

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Cormorant Garamond', Helvetica;

// Responsive breakpoints

$bp-largest: 75em; // 1200px/16 = 75em
$bp-large: 62.5em; // 1000px/16 = 62.5em
$bp-med: 53.125em; // 850px/16 = 53.125em
$bp-sml: 31.25em; // 500px/16 = 31.25em


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}
*::selection {
    background-color: $color-grey-light;
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    color: $color-grey-dark;
    padding: 3rem;
    
    
}

.container {
    display: grid;
    /* First analyze overall layout and
    how many sections there are (5)
    and size the rows first thinking about responsivness
    and how the rows & content need to flow when resized
    */
    grid-template-rows: 85vh repeat(4, min-content);
    /* Second we define our column tracks (common sizes
    are 8, 12 or 16 column grids) Trento will use 8.
    Start by putting all at 1fr to get a feel for the
    columns. In this case we will want max width say 1140px.
    Split them up into rem. 1140/8 = 142... approx 14rem.
    Then use minmax to allow them to grow from content up
    to the 14rem. Using the 1fr on each side of the inner 6
    columns will allow for full bleed in some sections.
    Always name the columns. The col start & col end will create
    create 6 colstarts & ends from number 1 to 6
    */
    // grid-template-columns: repeat(8, 1fr);
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];

    // Dev purposes for easier sight
    // & > * {
    //     padding: 4rem;
    //     font-size: 3rem;
    // }

    
}








