

// ===================//
// ===== Buttons =====//
// ===================//
.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
    width: 15rem;
    display: block;
    text-decoration: none;
    transition: all .3s; 
    text-align: center;


    // Contact Button
    &__contact:link,
    &__contact:visited {
    color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-dark);

    }
    &__contact:hover {
        background-color: var(--color-secondary-light);
        border: 1px solid var(--color-secondary-light);
        color: var(--color-accent-2);
        box-shadow: 2px 2px 2px #777;
        transform: translateY(-3px);
    }
    &__contact:active {
        transform: translateY(-1px);
        box-shadow: 1px 1px 2px #999;

    }

    // View All Button

    &__view-all:link, 
    &__view-all:visited {
        color: var(--color-grey-dark);
        border: 1px solid var(--color-grey-dark);
    }

    &__view-all:hover {
        background-color: var(--color-grey-dark);
        color: #FFF;
        border: 1px solid var(--color-grey-dark);
        transform: translateY(-3px);
        box-shadow: 2px 2px 2px #777;
    }

    &__view-all:active {
        transform: translateY(-1px);
        box-shadow: 1px 1px 2px #999;

    }
}
.view-all-box {
    justify-self: center;
    margin-top: 1.5rem;
    grid-row: 13 / 14;
    grid-column: 4 / 6;
}


// ===================//
// ====== Modal ======//
// ===================//


.modal {
    &__outer {
        display: grid;
        background: rgba(170,179,141, 0.7);
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all .4s;
    }

    &__outer.open {
        opacity: 1;
        pointer-events: all;
    }

    &__inner {
        display: grid;
        width: 60vw;
        height: 60vh;
        background: var(--color-accent-1);
        border-radius: 5px;
        overflow: hidden;
        transition: all .2s;
        

        & .img-wrapper {
            position: relative;
        }
        

        & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        & .img-p {
            text-align: center;
            margin: 0;
            padding: 0;
            width: 30rem;
            font-size: 2rem;
            background: var(--color-accent-2);
            transition: all .2s;
            position: fixed;
            bottom: 15vh;
            left: calc(50vw - 15rem);
        }

        & p.close-modal {
            position: absolute;
            top: 1rem;
            right: 3rem;
            background: rgba(85,85,85,0);
            color: #FFF;
            height: 3.5rem;
            font-size: 2.5rem;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: all .2s;

            
            

            &:hover {
                border-bottom: 1px solid #FFF;
            }
        }
    }
        

    
}


