.contact {
    grid-column: col-start 2 / col-end 11;

    margin: 6rem 0;
    padding: 10rem 3rem;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // Make the 3 grid cells responsive using the following
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 6rem;
    align-items: center;
    justify-items: center;
    

    &__box {
        text-align: center;
        
        &--2 p {
            border-right: 1px solid $color-grey-light;
            border-left: 1px solid $color-grey-light;
            padding: 0 3rem;
        }
       
    }
    
}
.dream {
    background-color: $color-primary-light;
    padding: .5rem;
    display: inline-flex;
    margin: .5rem ;
}