.footer {
    background-image: linear-gradient(to bottom, var(--color-grey-light), var(--color-grey-dark));
    grid-column: full-start / full-end;
    padding: 3rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 2rem;


    

    &__item {
        justify-self: center;
        background-color: rgba(211, 211, 211, 0.075);
        padding: .5rem 2.5rem;


    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem;
        display: block;
        transition: all .2s;
        width: 0%;
        border-bottom: 1px solid transparent;
        


        &:link,
        &:visited {
            color: #FFF;
            cursor: pointer;
        }

        &:hover,
        &:active {
            border-bottom: 1px solid var(--color-primary-dark);
            width: 100%;
            transform: translateY(-1px);
        }
    }

  

}
p.copyright {
    font-family: var(--font-primary);
    font-style: normal;
    color: var(--color-accent-1);
    font-size: 1.4rem;
    width: 70%;
    text-align: center;
    margin: 3rem auto 0 auto;
}