
.header {
    background-image: url(/img/hero-min.jpg);
    background-size: cover;
    background-position: left;
    // background-blend-mode: screen;
    // filter: brightness(110%) grayscale(100%);
    width: 100%;
    padding-top: 1.5rem;
    grid-column: full-start / full-end;
}

.flex-nav {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0 auto;
    position: relative;
}

.fixed-nav .flex-nav {
    position: fixed;
    background-image: linear-gradient( rgba(170, 170, 170, .85), rgba(170, 170, 170, .85));
    top: 0;
    box-shadow: 0 2px 2px rgba(85, 85, 85, 0.2);
    z-index: 1;
    min-width: 100vw;
    left: 0;

    
}

.fixed-nav .header-nav {
    padding-top: 2px;
}



.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;


    &__item {
        color: $color-header-text;
        flex: 1 1 12rem;

        @media only screen and (max-width: $bp-med) {
            flex: 1 1 1;
        }

        &--name {
            flex: 2;
            text-align: center;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3px;

            @media only screen and (max-width: $bp-med) {
                order: -1;
                flex: 1 1 100%;
            }

            
        }
        
    }

    &__link:visited,
    &__link:link {
        color: $color-header-text;
        text-decoration: none;
        transition: all .2s;
        
    }

    &__link:hover,
    &__link:active {
        color: $color-grey-dark;
    }

}

.hero {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    align-items: center;
    padding-left: 1.5rem;

    &--lrg {
        flex: 1 1 50%;
        @media only screen and (max-width: $bp-med) {
            flex: 1 1 80%;
            align-self: flex-end;
        }
    }

    &--sml {
        flex: 1 1 50%;
        align-self: flex-end;
        @media only screen and (max-width: $bp-med) {
            flex: 1 1 100%;
        }
    }

}





















 