.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    width: 85vw;
    font-size: 2rem;
    margin: 3rem 6rem 6rem;
    padding: 1rem;
    background-color: var(--color-primary-light);
    border-radius: 2px;
    filter: opacity(80%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      height: 100%;
      width: 100%;
      transition: all 0.2s;
      filter: grayscale(25%);
    }
  }
}

img:hover {
  filter: grayscale(0%);
}

figcaption {
  text-align: center;
  margin: 0.75rem 0 6rem 0;
  padding: 0.75rem 10vw;
  font-size: 2rem;
  background: var(--color-primary-light);
  border-radius: 2px;
}

// Mob nav

// Animation

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

// Menu Bars

.galmenu-bars {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 4;
  display: inline;
  cursor: pointer;
}

.galbar1,
.galbar2,
.galbar3 {
  width: 35px;
  height: 3px;
  background-color: var(--color-grey-dark);
  margin: 8px 0;
  transition: 0.4s;
  box-shadow: 1px 1px 2px;
}

/* Rotate first bar */
.change .galbar1 {
  transform: rotate(-46deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .galbar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .galbar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

// Overlay

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555555bb;
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

// Nav Menu Items
.galmobnav,
.galmobnav__list {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.galmobnav__list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
  & li {
    flex: 1 1 100%;
  }
}

.galmobnav li {
  background-color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-grey-dark);
  overflow: hidden;
  height: 16.66%;

  & a {
    position: relative;
    top: 40%;
    color: var(--color-header-text);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  & a:hover {
    transform: scale(1.03);
  }

  & a::before {
    content: "";
    width: 20vw;
    height: 2px;
    background-color: var(--color-header-text);
    position: absolute;
    top: 47.5%;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
  }

  & a:hover::before {
    opacity: 1;
  }
}

.hidden {
  display: none;
}
