.form {
  margin:  6rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right top,
   black, var(--color-grey-light)
  ), url(../../../img/form2.jpg);
  background-position: bottom;
  background-blend-mode: screen;
  
  &__heading {
      font-size: 4rem;
      margin-top: 3rem;
      margin-bottom: 4.5rem;
      padding: .75rem 9rem;
      background-color: var(--color-primary-light);
      border-radius: 2px;
      filter: opacity(80%);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

  &__groups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.form-group {
    height: 30%;
}

.form-group2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: var(--color-grey-dark);
    }

    & textarea {
        border: 3px solid transparent;
        transition: all .2s;
        border-radius: 2px;
        color: var(--color-grey-dark);

    }

    & textarea:focus {
        outline: none;
        border: 3px solid var(--color-primary-dark);
        box-shadow: 0 3px 1rem var(--color-grey-dark);
    }
}

input {
    font-size: 2rem;
    font-family: var(--font-primary);
    padding: .5rem;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    color: var(--color-grey-dark);
    transition: all .2s;

    &:focus {
        outline: none;
        box-shadow: 0 3px 1rem var(--color-grey-dark);
        border-bottom: 3px solid var(--color-primary-dark);
    }

    &:invalid {
        border-bottom: 3px solid var(--color-tertiary-dark);
    }

    &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}


label {
    padding: .5rem;
    background-color: var(--color-primary-light);
    border-radius: 2px;
    filter: opacity(90%);
    font-size: 2rem;
    display: block;
    margin-top: 1rem;
    width: 70%;
    transition: all .3s;
}

.radio-group {
    width: 49%;
    display: inline-block;
    position: relative;


    &__btn {
        height: 3rem;
        width: 3rem;
        border: 2px solid var(--color-grey-dark);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 2rem;

        &::after {
            content: "";
            display: block;
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-primary-light);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    & > label {
        cursor: pointer;
        padding-left: 5rem;
        background-color: transparent;
    }

    & > input:checked + label > span::after {
        opacity: 1;
    }

    & input {
        display: none;
    }
}


.form-group-shoot label {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.btn-container {
    width: 90vw;
}

.btn__submit {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
    width: 15vw;
    display: block;
    text-decoration: none;
    transition: all .3s; 
    text-align: center;
    background-color: var(--color-accent-1);
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    border-radius: 2px;
    margin: 3rem auto 1rem;
}

.btn__submit:hover {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
    box-shadow: 2px 2px 5px #777;
    transform: translateY(-3px);
    color: var(--color-accent-1);
}
.btn__submit:active {
    transform: translateY(-1px);
    box-shadow: 1px 1px 2px #999;
    outline: none;
}

.error__message {
    font-size: 3rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
    background-color: var(--color-primary-light);
    border-radius: 2px;
    filter: opacity(80%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid transparent
}


